<div class="article-filters">
   <div class="filter-item filter-search">
      <h3 class="filter-item__title">Поиск</h3>
      <form class="filter-search__form" action="#">
         <label class="filter-search__label">
            <input class="filter-search__input" type="text" placeholder="Введите запрос....">
         </label>
         <button class="filter-search__btn default-btn" type="submit">
            <svg width="21px" height="20px">
               <path fill-rule="evenodd" fill="rgb(141, 141, 141)"
                  d="M19.891,18.696 L14.82,12.886 C15.184,11.525 15.847,9.796 15.847,7.913 C15.847,3.547 12.295,0.3 7.930,0.3 C3.565,0.3 0.14,3.547 0.14,7.913 C0.14,12.278 3.565,15.829 7.930,15.829 C9.813,15.829 11.543,15.166 12.903,14.65 L18.713,19.874 C18.876,20.37 19.140,20.37 19.302,19.874 L19.891,19.285 C20.54,19.122 20.54,18.859 19.891,18.696 ZM7.930,14.163 C4.484,14.163 1.680,11.360 1.680,7.913 C1.680,4.467 4.484,1.663 7.930,1.663 C11.377,1.663 14.180,4.467 14.180,7.913 C14.180,11.360 11.377,14.163 7.930,14.163 Z" />
            </svg>
         </button>

      </form>
   </div>
   <div class="filter-item filter-category">
      <h3 class="filter-item__title">Категория</h3>
      <form class="filter-category__form" action="#">
         <label class="filter-category__label">
            <input class="filter-category__input" type="radio" name="category">
            <span class="filter-category__span">Путешествия</span>
         </label>
         <label class="filter-category__label">
            <input class="filter-category__input" type="radio" name="category">
            <span class="filter-category__span">Истории</span>
         </label>
         <label class="filter-category__label">
            <input class="filter-category__input" type="radio" name="category">
            <span class="filter-category__span">Смешное</span>
         </label>
         <label class="filter-category__label">
            <input class="filter-category__input" type="radio" name="category">
            <span class="filter-category__span">Разное</span>
         </label>
      </form>
   </div>
   <div class="filter-item filter-posts">
      <h4 class="filter-item__title">Популярное</h4>
      <a class="filter-posts__item" href="#">
         <div class="filter-posts__img-box img-box">
            <img src="images/content/cover-pre-article-slider-1.webp" alt="cover" class="img-box__img">
            <div class="img-box__data-box data-box">
               <p class="data-box__item data-box__date">Январь, 2024</p>
               <p class="data-box__item data-box__comments">2 комментария</p>
            </div>
            <div class="filter-posts__item-title">По дороге с облаками. Путешествие вокруг света</div>
         </div>
      </a>
      <a class="filter-posts__item" href="#">
         <div class="filter-posts__img-box img-box">
            <img src="images/content/cover-pre-article-slider-2.webp" alt="cover" class="img-box__img">
            <div class="img-box__data-box data-box">
               <p class="data-box__item data-box__date">Декабрь, 2023</p>
               <p class="data-box__item data-box__comments">2 комментария</p>
            </div>
            <div class="filter-posts__item-title">Путешествие в далёкие дали</div>
         </div>
      </a>
      <a class="filter-posts__item" href="#">
         <div class="filter-posts__img-box img-box">
            <img src="images/content/cover-pre-article-slider-3.webp" alt="cover" class="img-box__img">
            <div class="img-box__data-box data-box">
               <p class="data-box__item data-box__date">Август, 2023</p>
               <p class="data-box__item data-box__comments">2 комментария</p>
            </div>
            <div class="filter-posts__item-title">Путешествие на край света, в затеряный мир</div>
         </div>
      </a>
   </div>
   <div class="filter-item filter-tag">
      <h3 class="filter-item__title">Популярные теги</h3>
      <form class="filter-tag__form" action="#">
         <label class="filter-tag__label undefault-btn">
            <input class="filter-tag__input" type="checkbox">
            <span class="filter-tag__span">Зима</span>
         </label>
         <label class="filter-tag__label undefault-btn">
            <input class="filter-tag__input" type="checkbox">
            <span class="filter-tag__span">Философия</span>

         </label>
         <label class="filter-tag__label undefault-btn">
            <input class="filter-tag__input" type="checkbox">
            <span class="filter-tag__span">Народы</span>
         </label>
         <label class="filter-tag__label undefault-btn">
            <input class="filter-tag__input" type="checkbox">
            <span class="filter-tag__span">Индия</span>

         </label>
         <label class="filter-tag__label undefault-btn">
            <input class="filter-tag__input" type="checkbox">
            <span class="filter-tag__span">Юмор</span>
         </label>
         <label class="filter-tag__label undefault-btn">
            <input class="filter-tag__input" type="checkbox">
            <span class="filter-tag__span">Горы </span>
         </label>
         <label class="filter-tag__label undefault-btn">
            <input class="filter-tag__input" type="checkbox">
            <span class="filter-tag__span">Пляж</span>

         </label>
      </form>
   </div>
   <button class="article-filters__btn default-btn disable">Найти</button>
</div>