<div class="article">
   <div class="article__video-box video-box">
      <div class="data-box">
         <p class="data-box__item data-box__date">Август, 2023</p>
         <p class="data-box__item data-box__comments">2 комментария</p>
      </div>
      <div class="video-box__video">
         <a href="https://www.youtube.com/watch?time_continue=9&v=wZ3hULHTEfE&embeds_referring_euri=https%3A%2F%2Fyastatic.net%2Fvideo-player%2F0x85db8230c45%2Fpages-common%2Fyoutube%2Fyoutube.html&source_ve_path=Mjg2NjY&feature=emb_logo"
            data-fancybox class="video-box__video-link">
            <svg width="64px" height="64px" viewBox="0 0 20.00 20.00" version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" stroke="#ffffff">
               <g stroke-width="0"></g>
               <g stroke-linecap="round" stroke-linejoin="round" stroke="#ffffff" stroke-width="0.04"></g>
               <g>
                  <g stroke-width="0.0002" fill="none" fill-rule="evenodd">
                     <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -3759.000000)" fill="#ffffff">
                        <g id="icons" transform="translate(56.000000, 160.000000)">
                           <path
                              d="M96.66,3608.872 L91,3612 L91,3606 L96.66,3608.872 Z M86,3617 L102,3617 L102,3601 L86,3601 L86,3617 Z M84,3619 L104,3619 L104,3599 L84,3599 L84,3619 Z">
                           </path>
                        </g>
                     </g>
                  </g>
               </g>
            </svg>
         </a>
      </div>


   </div>
   <h2 class="article__title article-title"">Парк развлечений</h2>
   <ul class=" article__list">
      <li class="article__li"><a href="#" class="article__list-link">Отдых</a></li>
      <li class="article__li"><a href="#" class="article__list-link">Веселье</a></li>
      <li class="article__li"><a href="#" class="article__list-link">Советы</a></li>
      </ul>
      <p class="article__desc">Когда Вы отправляетесь в путешествие, чего ждете от поездки? Многие, наверняка, мечтают о
         безмятежном пляжном отдыхе, а кто-то уже начал планировать маршрут по историческому центру города. Но
         определенно точно среди наших читателей найдутся и те, кто спокойному отдыху предпочитает захватывающие
         приключения и будоражащие кровь ощущения. Не переживайте, наша сегодняшняя подборка самых улетных тематических
         парков аттракционов станет универсальным решением и подарит незабываемые впечатления всем, кто хочет испытать
         себя и преодолеть собственные страхи!</p>
      <a href="page-video.html" class="article__link-more default-btn">Читать дальше</a>

</div>