<div class="article">
   <div class="img-box">
      <div class="img-box__data-box data-box">
         <p class="data-box__item data-box__date">Январь, 2024</p>
         <p class="data-box__item data-box__comments">2 комментария</p>
      </div>
      <img class="img-box__img" src="images/content/article-img.webp" alt="cover">
   </div>
   <h2 class="article__title article-title"">Как я путешествовала по Индии</h2>
   <ul class=" article__list">
      <li class="article__li"><a href="#" class="article__list-link">Индия</a></li>
      <li class="article__li"><a href="#" class="article__list-link">Путешествия</a></li>
      <li class="article__li"><a href="#" class="article__list-link">Воспоминания</a></li>
      </ul>
      <p class="article__desc">Индия — моя 43-я по счету страна, туда я отправилась одна «дикарем». За 15 дней я успела
         увидеть
         Золотой треугольник (самый популярный туристический маршрут с Тадж-Махалом и Дели), город
         мертвых Варанаси, а также исследовать нежно любимый россиянами прибрежный штат Гоа. Расскажу,
         как организовать такую поездку и что учитывать, чтобы приключения — а без них в Индии вы точно
         не обойдетесь — были приятными.</p>
      <a href="page-img.html" class="article__link-more default-btn">Читать дальше</a>
</div>