<div class="article">
   <div class="article__slider-box">
      <div class="pre-slider">
         <div class="data-box">
            <p class="data-box__item data-box__date">Декабрь 2023</p>
            <p class="data-box__item data-box__comments">2 комментария</p>
         </div>
         <div class="pre-slider__inner">

            <div class="pre-slider__item">
               <img class="pre-slider__img" src="images/content/paired-3.jpg" alt="slider">
            </div>

            <div class="pre-slider__item">
               <img class="pre-slider__img" src="images/content/paired-4.jpg" alt="slider">
            </div>
            <div class="pre-slider__item">
               <img class="pre-slider__img" src="images/content/paired-5.jpg" alt="slider">

            </div>
         </div>
      </div>
   </div>


   <h2 class="article__title article-title"">Свадебная фотосессия</h2>
   <ul class=" article__list">
      <li class="article__li"><a href="#" class="article__list-link">Свадьба</a></li>
      <li class="article__li"><a href="#" class="article__list-link">Воспоминания</a></li>
      </ul>
      <p class="article__desc">Хочется рассказать красивую историю о том, как моя подруга вышла замуж. Познакомились мы
         с Оксаной в
         странном месте. В качалке.</p>
      <a href="page-slider.html" class="article__link-more default-btn">Читать дальше</a>
</div>