<div class="article">

   <div class="img-box__data-box data-box">
      <p class="data-box__item data-box__date">Январь, 2024</p>
      <p class="data-box__item data-box__comments">2 комментария</p>

   </div>
   <h2 class="article__title article-title"">Армейские анекдоты моего дедушки</h2>
   <ul class=" article__list">
      <li class="article__li"><a href="#" class="article__list-link">Веселье</a></li>
      <li class="article__li"><a href="#" class="article__list-link">Анектоды</a></li>
      <li class="article__li"><a href="#" class="article__list-link">Воспоминания</a></li>
      </ul>
      <p class="article__desc">Армейские анекдоты высмеивают сложности призыва, недочеты в организации службы и основных
         героев — рядовых, прапорщиков, офицеров. Смешные истории о солдатских буднях напомнят о службе, когда было не
         до смеха. Но все проходит, а позитивные эмоции остаются. </p>
      <a href="error-404.html" class="article__link-more default-btn">Читать дальше</a>
</div>